<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>RegistrationPageServlet</servlet-name>
  	<display-name>RegistrationPageServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.RegistrationPageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginPageServlet</servlet-name>
  	<display-name>LoginPageServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.LoginPageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AppCreatePageServlet</servlet-name>
  	<display-name>AppCreatePageServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.AppCreatePageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserDetailServlet</servlet-name>
  	<display-name>UserDetailServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.UserDetailServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateUserDetail</servlet-name>
  	<display-name>UpdateUserDetail</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.UpdateUserDetail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePasswordServlet</servlet-name>
  	<display-name>UpdatePasswordServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.UpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetApplicationServlet</servlet-name>
  	<display-name>GetApplicationServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.GetApplicationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateTabelServlet</servlet-name>
  	<display-name>CreateTabelServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.CreateTabelServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UtilityServlet</servlet-name>
  	<display-name>UtilityServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.UtilityServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetCreatedTableListServlet</servlet-name>
  	<display-name>GetCreatedTableListServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.GetCreatedTableListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetTableDetailsServlet</servlet-name>
  	<display-name>GetTableDetailsServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.GetTableDetailsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendNotificationServlet</servlet-name>
  	<display-name>SendNotificationServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.SendNotificationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AnalyticsServlet</servlet-name>
  	<display-name>AnalyticsServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.AnalyticsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckLockScreenPasword</servlet-name>
  	<display-name>CheckLockScreenPasword</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.CheckLockScreenPasword</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>RegistrationPageServlet</servlet-name>
  	<url-pattern>/RegistrationPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginPageServlet</servlet-name>
  	<url-pattern>/LoginPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AppCreatePageServlet</servlet-name>
  	<url-pattern>/AppCreatePageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserDetailServlet</servlet-name>
  	<url-pattern>/UserDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserDetail</servlet-name>
  	<url-pattern>/UpdateUserDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePasswordServlet</servlet-name>
  	<url-pattern>/UpdatePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetApplicationServlet</servlet-name>
  	<url-pattern>/GetApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateTabelServlet</servlet-name>
  	<url-pattern>/CreateTabelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UtilityServlet</servlet-name>
  	<url-pattern>/UtilityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetCreatedTableListServlet</servlet-name>
  	<url-pattern>/GetCreatedTableListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetTableDetailsServlet</servlet-name>
  	<url-pattern>/GetTableDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendNotificationServlet</servlet-name>
  	<url-pattern>/SendNotificationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AnalyticsServlet</servlet-name>
  	<url-pattern>/AnalyticsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckLockScreenPasword</servlet-name>
  	<url-pattern>/CheckLockScreenPasword</url-pattern>
  </servlet-mapping>
</web-app>
