<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>RegistrationPageServlet</servlet-name>
  	<display-name>RegistrationPageServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.RegistrationPageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginPageServlet</servlet-name>
  	<display-name>LoginPageServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.LoginPageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AppCreatePageServlet</servlet-name>
  	<display-name>AppCreatePageServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.AppCreatePageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserDetailServlet</servlet-name>
  	<display-name>UserDetailServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.UserDetailServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateUserDetail</servlet-name>
  	<display-name>UpdateUserDetail</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.UpdateUserDetail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePasswordServlet</servlet-name>
  	<display-name>UpdatePasswordServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.UpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetApplicationServlet</servlet-name>
  	<display-name>GetApplicationServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.GetApplicationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateTabelServlet</servlet-name>
  	<display-name>CreateTabelServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.CreateTabelServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UtilityServlet</servlet-name>
  	<display-name>UtilityServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.UtilityServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetCreatedTableListServlet</servlet-name>
  	<display-name>GetCreatedTableListServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.GetCreatedTableListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetTableDetailsServlet</servlet-name>
  	<display-name>GetTableDetailsServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.GetTableDetailsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendNotificationServlet</servlet-name>
  	<display-name>SendNotificationServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.SendNotificationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AnalyticsServlet</servlet-name>
  	<display-name>AnalyticsServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.AnalyticsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckLockScreenPasword</servlet-name>
  	<display-name>CheckLockScreenPasword</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.CheckLockScreenPasword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetSubscriptionServlet</servlet-name>
  	<display-name>GetSubscriptionServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.GetSubscriptionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendAdminNotificationServlet</servlet-name>
  	<display-name>SendAdminNotificationServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.SendAdminNotificationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UnsubscribeServlet</servlet-name>
  	<display-name>UnsubscribeServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.UnsubscribeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckSubscriptionFlagServlet</servlet-name>
  	<display-name>CheckSubscriptionFlagServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.CheckSubscriptionFlagServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PdfDownload</servlet-name>
  	<display-name>PdfDownload</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.PdfDownload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PdfDownloadServlet</servlet-name>
  	<display-name>PdfDownloadServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.PdfDownloadServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AnalyticsUserServlet</servlet-name>
  	<display-name>AnalyticsUserServlet</display-name>
  	<description></description>
  	<servlet-class>com.sjsu.cmpe295.appbaas.servlet.AnalyticsUserServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>RegistrationPageServlet</servlet-name>
  	<url-pattern>/RegistrationPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginPageServlet</servlet-name>
  	<url-pattern>/LoginPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AppCreatePageServlet</servlet-name>
  	<url-pattern>/AppCreatePageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserDetailServlet</servlet-name>
  	<url-pattern>/UserDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserDetail</servlet-name>
  	<url-pattern>/UpdateUserDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePasswordServlet</servlet-name>
  	<url-pattern>/UpdatePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetApplicationServlet</servlet-name>
  	<url-pattern>/GetApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateTabelServlet</servlet-name>
  	<url-pattern>/CreateTabelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UtilityServlet</servlet-name>
  	<url-pattern>/UtilityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetCreatedTableListServlet</servlet-name>
  	<url-pattern>/GetCreatedTableListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetTableDetailsServlet</servlet-name>
  	<url-pattern>/GetTableDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendNotificationServlet</servlet-name>
  	<url-pattern>/SendNotificationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AnalyticsServlet</servlet-name>
  	<url-pattern>/AnalyticsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckLockScreenPasword</servlet-name>
  	<url-pattern>/CheckLockScreenPasword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetSubscriptionServlet</servlet-name>
  	<url-pattern>/GetSubscriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendAdminNotificationServlet</servlet-name>
  	<url-pattern>/SendAdminNotificationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UnsubscribeServlet</servlet-name>
  	<url-pattern>/UnsubscribeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckSubscriptionFlagServlet</servlet-name>
  	<url-pattern>/CheckSubscriptionFlagServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PdfDownload</servlet-name>
  	<url-pattern>/PdfDownload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PdfDownloadServlet</servlet-name>
  	<url-pattern>/PdfDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AnalyticsUserServlet</servlet-name>
  	<url-pattern>/AnalyticsUserServlet</url-pattern>
  </servlet-mapping>
</web-app>
